* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFD495;
  font-family: monospace;
}

button {
  cursor: pointer;
  margin: 5px;
  background-color: firebrick;
  color: white;
  border: 0px;
  height: 25px;
  width: 30px;
  border-radius: 5px;
}

.writer_list {
  display: inline-flex;
  word-break: break-all;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-top: 45px;

  .writer {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: 230px;
    height: 203px;
    background: #D9D9D9;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  
    img {
      width: 80px;
      height: 80px;
    }
  }
}

.book_list {
  display: inline-flex;
  word-break: break-all;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  margin-top: 45px;

  .book {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    width: 225px;
    height: auto;
    background: #D9D9D9;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    img {
      width: 100%;
      height: 225px;
    }
  }
}

.reading {
  font-size: 15px;
  position: absolute;
  height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  margin-top: 2.5%;
  background-color: wheat;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  #close {
    font-size: 30px;
    cursor: pointer;
  }

  #page_index {
    background-color: lightyellow;
    color: black;
  }

  button {
    margin: 5px;
    background-color: firebrick;
    color: white;
    border: 0px;
    height: 25px;
    width: 30px;
    border-radius: 5px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53px;
  background: #FDFFB0;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-right: 15px;
    margin-left: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}

#auth {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 50px;
    margin-bottom: 5px;
    border: 0;
  }

  button {
    border-radius: 50px;
    width: 300px;
  }
  
  .file-input-container {
    display: flex;
    justify-content: center;
  }
  
  .file-input-label {
    position: relative;
    cursor: pointer;
  }
  
  .preview-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 25px;
  }
  
  #file-input {
    display: none;
  }
}

#create-book-form {
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 50px;
    margin-bottom: 5px;
    border: 0;
  }

  button {
    border-radius: 50px;
    width: 300px;
  }

  .file-input-container {
    display: flex;
    justify-content: center;
  }
  
  .file-input-label {
    position: relative;
    cursor: pointer;
  }
  
  .preview-image {
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 25px;
  }
  
  #file-input {
    display: none;
  }

  img {
    width: 250px;
    height: 300px;
  }
}


.writers_books_list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

  #writer_book {
    cursor: pointer;
  }
}


#profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #D9D9D9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;

  img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
  }
}


#user_icon {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-top: 10px;
}